html
    head
        title= _title
    body
        h1 Hello jade
        h2 div=time -->>>> 8. Template(Jade) with Express > Line 10.
        ul
            -for(var i=0; i<5; i++)     //java script => '-'
                li coding
        div= time      